*{  
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

header{
    height: 100vh;
    background: #000000;
    color: white;
}

.logo{
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    gap:5px;
}

h1{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: monospace;
    text-transform: uppercase;
}
.header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 30px;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

button{
    font-family: monospace;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    border-radius: 12px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

button:hover{
    background: rgb(50, 50, 50);
    transform: scale(1.075);
    transition: 0.15s;
}

header a{
    text-decoration: none;
}

.text{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: monospace;
    font-weight: 200;
    gap:10px;
}

article{
    padding: 5vw;
}

main{
    background: #fffbf3;
    
}

main img{
    border-radius: 10px;
    width: 350px;
    max-width: 100%;
    box-shadow: 0 0 15px black;
}

aside{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

aside button{
    margin: 5px;
    color: #000000;
}

.asideBtn{
    background: #fffbf3;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 15px rgb(43, 43, 43);
}


section{
    margin-top: 5rem;
}

section p{
    font-size: 1.2rem;
}

h4{
    font-weight: 150;
    color: rgb(146, 144, 144);
}

h3{
    font-weight: 600;
    color: rgb(236, 158, 14);
}

h2,h3,h4{
    margin-bottom: 0.4rem;
    margin-top: 0.8rem;
}

.Studies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.studiesImg{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}


.workImg{
    display: flex;
    justify-content: center;
    align-self: center;
}


#skills{
    display: flex;
    justify-content: center;
}


.Skills{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}


footer{
    background: rgb(29, 27, 27);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: white;
    padding: 1rem;
    box-shadow: 0 0 15px black;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


form{
    border: solid 2px rgb(236, 158, 14);
    padding: 1vw;
    border-radius: 10px;
}

label{
    display: block;
    text-align: left;
}

input{
    width: 210px;
}

input,textarea{
    padding: 5px;
    font-size: 15px;
}

input#submit{
    margin-left: 25px;
}

span{
    color: red;
    font-size: 16px;
}

.Icons{
    margin:10px;
}



/*decrease font-size for better tolerances(for tablets)*/
@media only screen and (max-width:880px){
    
    h2,h3,h4,main p{
        font-size: 0.9rem;
    }
}

/*Background changed and font-size further decreased for better tolerances*/
@media only screen and (max-width:650px){
    
    .boxes div{
        visibility: hidden;
    }

    header{
        background: url(../Images/nightSky.png);
    }

    header{
        height: 75vh;
    }

    h2,h3,h4,main p{
        font-size: 0.8rem;
    }

}

@media only screen and (max-width:550px){
     
    body{ 
        overflow-x: hidden;

    }

    article{
        padding: 10px;
    }
    

    h2,h3,h4,main p{
        font-size: 0.7rem;
    }

    header p, h1{
        font-size: 0.8rem;
    }

    .header{
        display: flex;
        flex-direction: column;
    }

    .logo{
        display: flex;
        flex-direction: column;
    }


    .text{
        height: 45vh;;
    }

    aside button{
        font-size: 0.5rem;
    }

    .asideBtn{
        padding: 5px;
    }

    .Studies{
        display: grid;
        grid-template-columns: 1fr;
    }

    .Work{
        display: grid;
        grid-template-columns: 1fr;
    }

    .workImg{
        grid-row-start: 1;
    }

    main img{
        width: 200px;
        max-width: 100%;
    }

    button{
        font-size: 0.7rem;
        padding: 5px;
    }

    input{
        width: 120px;
    }
    
    input,textarea{
        padding: 2px;
        font-size: 8px;
    }

    input#submit{
        width: 80px;
    }

    label{
        font-size: 10px;
    }

    header{
        height: 75vh;
    }

    .text{
        height: 45vh;;
    }

    
   

}













